{% extends 'base.html' %}

{% block head_title%}
    Hello Mister
{% endblock head_title%}

{% block content %}

<h1>Welcome To The Twitter Reborn By InsaneNerd</h1>
<div id = "tweets">
    Replace Me
</div>
<script>
    function handleDidLike(tweet_id,currentCount){
        console.log(tweet_id,currentCount)
    }

    function LikeBtn(tweet){
        return "<button class='btn btn-primary' onclick = handleDidLike("+tweet.id+","+tweet.likes+")>"+tweet.likes+" Like </button>"
    }
    function formatTweetElement(tweet){
        var formattedTweet = "<div class='mb-4' id='tweet-"+
        tweet.id +
         "'><p>"+
        tweet.content+
        "</p><div class='btn-group'>"+
        LikeBtn(tweet)+ 
        "</div></div>"
        return formattedTweet

    }
    const tweetsElement = document.getElementById('tweets')
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method,url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finaltweetStr = ""
        var i;
        for (i=0;i<listedItems.length;++i){
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finaltweetStr+=currentItem
        }
        tweetsElement.innerHTML=finaltweetStr;
        
    }
    xhr.send()
</script>
{% endblock content%}